<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZDXXML&amp;JsonAnalyzeStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>547D7DEA1E700B7D003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547D7E031E700B7F003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>547D7E0E1E700B7F003D3111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
